<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:border-radius="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body{
            margin-top:20px;
            background-image: url("https://image.freepik.com/free-vector/rugby-stadium-with-lights-night-night-light-game-goal-floodlight-bright-spotlight-ground_1284-41512.jpg");
            background-size: 100%;
            position: absolute;
        }
        .well {
            overflow: hidden;
            border-radius: 0;
            margin-bottom: 30px;
        }

        .well-light-blue {
            background-color: #3498db;
            color: white;
            border-radius: 5%;

        }
     .mini-profile-widget .image-container .avatar {
            width: 180px;
            height: 180px;
            display: block;
            margin: 0 auto;
            border-radius: 50%;
            background: white;
            padding: 4px;
            border: 1px solid #dddddd;
        }
    .mini-profile-widget .details {
            text-align: center;
        }
    .login{
            margin: 25px;
    }
    .navbar {
            width: 100%;
    }
    </style>

</head>
<body>
<div class="container-fluid">

    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-radius: 50% 50% 50% 50% ">
        <a class="navbar-brand" href="/types/list"><img src="https://image.flaticon.com/icons/png/128/3099/3099380.png" height="80" width="80"></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/players/home"><img src="/abc/home.png" height="20" width="20">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/players/create">Create New Player</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Chat Room</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Training</a>
                </li>
            </ul>
            <form class="d-flex" action="/types/search" method="get">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <div class="login">
              <a href="#">Login/Register<img src="https://img.icons8.com/ios-glyphs/2x/login-rounded-right--v2.gif" width="22" height="22" ></a>
            </div>
        </div>
    </nav>
    <hr>
    <div class="row">
        <div class="col-sm-2 margin40" style="background: white;border-radius: 1%">
            <div class="row">
                <div class="col-sm-12">
                    <div class="btn-group">
                            <button class="btn btn-primary dropdown-toggle"
                                    type="button"
                                    id="dropdownMenuButton" data-toggle="dropdown" style="width: 290px">
                                POSITION
                            </button>
                            <div class="dropdown-menu">
                                <th:block th:each="type:${types}">
                                <a class="dropdown-item" href="#" th:text="${type.name}" style="width: 290px"></a>
                                <div class="dropdown-divider"></div>
                                </th:block>
                            </div>
                    </div>
                </div>
                <hr>
                <div class="col-sm-12">
                    <div class="btn-group">
                            <button class="btn btn-primary dropdown-toggle"
                                    type="button"
                                    id="dropdownMenuButton2" data-toggle="dropdown" style="width: 290px">
                                STATUS
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#" style="width: 290px">Đang Thi Đấu</a>
                                <a class="dropdown-item" href="#" style="width: 290px">Trấn Thương</a>
                                <a class="dropdown-item" href="#" style="width: 290px">Giải Nghệ</a>
                                <div class="dropdown-divider"></div>
                                </th:block>
                            </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-8 margin40" >
            <div class="row">
                <th:block th:each="player:${players}">
                 <div class="col-md-3">
                    <div class="well well-light-blue mini-profile-widget">
                    <div class="image-container">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFK_Mtk6HWCHSz_D4Abv8C7qUNi03OCLmrUw&usqp=CAU" class="avatar img-responsive" alt="avatar">
                    </div>
                            <div class="details">
                                    <h4 th:text="${player.name}"></h4>
                                    <hr>
                                    <img src="/abc/ball.gif"height="20" width="20">
                                    <h6 th:text="${player.type.name}"></h6>
                                    <h6 th:text="${player.address}"></h6>
                                    <h6 th:text="${player.status}"></h6>
                                    <p class="mg-top-15">
                                        <a href="#" class="btn btn-info">
                                        View ProFile<img src="/abc/info.png/" height="20" width="20"/>
                                        </a>
                                    </p>
                            </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
    </div>
    </div>
    <div class="col-sm-8 margin40" ><div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>
</html>