<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h3>Add Club</h3>
<p>
    <a th:href="@{/club}">
        Back to club home
    </a>
</p>
<div>
    <form th:action="@{/club/save}" th:object="${club}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}"/>
        </div>
        <div>
            <label>Logo</label>
            <input type="text" th:field="*{logo}"/>
        </div>
        <input type="submit" value="Save"/>
    </form>
</div>
</body>
</html>