<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
    <h1>HOME CLUB</h1>
    <div>
        <form action="/club/search" method="get">
            <input type="search" placeholder="Search" name="search">
            <button type="submit">Search</button>
        </form>
    </div>
    <div>
        <h2>
            <a th:href="@{/club/create}">Add Club</a>
        </h2>
    </div>

    <table border="1" cellpadding="5">
        <thead>
        <tr>
            <th>Name</th>
            <th>Logo</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="club : ${clubs}">
            <td th:text="${club.getName()}"></td>
            <td>
                <img width="100" height="100" th:src="@{'/image/' + ${club.logo}}" alt="">
            </td>
            <td>
                <a th:href="@{/club/{id}/edit(id=${club.getId()})}">edit</a>
            </td>
            <td>
                <a th:href="@{/club/{id}/delete(id=${club.getId()})}">delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>

